PUBLIC_LANDING_PAGE=http://localhost:5173

POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_USERNAME=xxxx
POCKETBASE_PASSWORD=xxxx

PUBLIC_GOOGLE_TAG_MEASUREMENT_ID=xxxx

GITHUB_CLIENT_ID=xxxx
GITHUB_CLIENT_SECRET=xxxx

GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxx
