PUBLIC_LANDING_PAGE=http://localhost:5173
PUBLIC_GOOGLE_TAG_MEASUREMENT_ID=

# On UNIX systems you can use `openssl rand -hex 32` or
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET=xxxx
AUTH_TRUST_HOST=true

GITHUB_ID=xxxx
GITHUB_SECRET=xxxx

POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_USERNAME=xxxx
POCKETBASE_PASSWORD=xxxx
